[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BEDMatrix"]
	path = BEDMatrix
	url = https://github.com/quantgen/bedmatrix
[submodule "BGData"]
	path = BGData
	url = https://github.com/quantgen/bgdata
[submodule "LinkedMatrix"]
	path = LinkedMatrix
	url = https://github.com/quantgen/linkedmatrix
[submodule "symDMatrix"]
	path = symDMatrix
	url = https://github.com/quantgen/symdmatrix
